nav {
    background-color: white;
    height: 40px;
    box-shadow: var(--box-shadow);
    color: white;
    display: flex;
    justify-content: space-between;
}

/* General .btn styling set globally */
.login-btn {
    max-width: 120px;
    height: 30px;
    margin: 5px;
    padding: 5px 10px !important;
}

#logo img {
    height: 30px;
    margin: 5px auto;
}

.menu-link {
    justify-content: center;
    padding: 10px;
}

/* @media (min-width: 500px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    #logo img {
        height: 265px;
        margin: 20px 50px;
    }

    #nav-controls {
        justify-content: space-evenly;
    }
} */