footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkcolor);
    padding: 40px 80px 60px;
    color: rgb(255, 255, 255);
    /* height: 350px; */
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

.left-title {
    padding: 10px 0 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-logo {
    margin: 5px;
    width: 85%;

    /* padding-left: 5rem; */

    /* display: inline-block; */
}

/* .facebook{
    width: 50%;
} */

/* * {
    border: 1px solid rgb(240, 245, 246);
}
  */

.right-side {
    display: flex;
    flex-direction: column;
    /* padding-top: 5rem; */
    justify-content: flex-start;
    align-items: flex-end;
}

/* .right-title{
    /* padding-left: 35rem; */
/* padding: 10px 0 20px; */


.socials_containers {
    width: 35%;
    display: flex;

    /* padding-left: 5rem; */
    /* justify-content: end; */


}

#logo{
    /* margin-left: 2.5rem; */
    height: 80px;
    /* padding-left: 1rem; */
    border: 2px dashed white;
    padding: 2px;
    background: white;
    background-clip: border-box;
    border-radius: 5px;
    
}

@media (max-width: 600px) {
    /* footer {
        display: flex;
    } */

    .left-side {
        display: inline-flexbox;
        font-size: large;
    }

    /* .right-side {
        padding-right: 1px;
        font-size: small;
    } */

    .left-side,.socials_containers {   
        flex-basis: 100%;
        text-align: left;
    }

    .right-title {
        /* font-size: small;
        text-align: end; */
        display: none;
    }

    .socials_containers {
        padding-top: 20px;
        width: auto;
    }

    #logo {
        height: 50px;
        border: 2px dashed white;
        padding: 2px;
        background: white;
        background-clip: border-box;
        border-radius: 5px;
    }
} 