



footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkcolor);
    padding: 40px 80px 60px;
    color: rgb(255, 255, 255);
    height: 350px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}

.left-title {
    padding: 10px 0 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-logo {
    margin: 5px;
    width: 85%;

    /* padding-left: 5rem; */

    /* display: inline-block; */
}

/* .facebook{
    width: 50%;
} */

/* * {
    border: 1px solid rgb(240, 245, 246);
}
  */

.right-side {
    display: flex;
    flex-direction: column;
    /* padding-top: 5rem; */
    justify-content: flex-start;
    align-items: flex-end;   
}

/* .right-title{
    /* padding-left: 35rem; */
    /* padding: 10px 0 20px; */


.socials_containers{
width: 35%;
display: flex;

/* padding-left: 5rem; */
/* justify-content: end; */
    
 
}

