h3 .h3-delete {
    margin: 40px;
}

.delete-page {
    margin-top: 50px;
    margin-bottom: 40px;
}

.delete-page>p {
    margin: 20px 0 40px;
}

.option-btns {
    display: flex;
    flex-direction: row;
}

.cancel-btn,
.delete-btn {
    width: 120px;
    margin: 40px 10px;
}

.cancel-btn {
    background-color: white !important;
    color: var(--purple) !important;
}

.delete-confirmation {
    display: flex;
    flex-direction: column;
    margin: 100px auto 180px;
    align-items: center;
}

.delete-confirmation a {
    color: var(--purple);
}

.h3-delete-confirmation {
    margin-top: 50px;
}