/* 
* {
    border: 1px solid grey;
} */

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    /* border: 1px solid red; */
}

.edit-hero-page {
    display: flex;
    width: 60%;
    padding: 20px;
    /* border: 1px solid blue; */
}

.edit-hero-page img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.edit-hero-page p, .edit-hero-page a {
    margin: 20px;
}

.edit-hero-page h3 {
    margin: 10px;
}

.edit-hero-form {
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.edit-hero-form h3 {
    text-align: center;
}

.edit-hero-form form {
    margin: 10px;
    width: 100%;
}