/* body {} */

.hero-section {
    width: 90%;
    max-width: 1200px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-section h2, .profiles-shuffle-board h2 {
    width: 100%;
    padding: 0;
    margin: 0;
}

.home-hero-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.trailblazer-text {
    width: 100%;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.stats-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
    width: 70%;
    max-width: 1200px;
}

.stats {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 300px;
    min-width: 300px;
    height: 200px;
    align-items: center;
    align-content: center;
}

.stats p {
    text-align: center;
}

.stat-number {
    font-size: 82px;
    font-weight: 800;
}

.profiles-shuffle-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1300px;
    min-width: 400px;
    margin: 30px;
}

.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
}