/* * {
    border: 1px solid red;
} */

.profile-h3 {
    padding-left: 0;
}

.profile-contacts {
    text-align: left;
}

video,
.profile-img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 320px) {
    .column-container {
        grid-template-columns: 1fr;
    }
}