/* * {
    border: 1px solid red;
} */

.profile-h3 {
    padding-left: 0;
    text-transform: capitalize;
}

.profile-contacts {
    text-align: left;
}

/* .top-container {
    display: flex;
    flex-direction: row;
    max-width: 80%;
} */

.column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 50px auto 120px;
    gap: 45px 40px;
    text-align: left;
}

video,
.profile-img {
    width: 100%;
    height: auto;
}

.socials-header {
    font-family: var(--block-font);
    font-size: 22px;
    padding-left: 0;
}

li span {
    margin-left: 10px;
}

.profile-contacts li {
    margin: 0;
}

#edit-delete-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* margin-right: 3%; */
    width: 90%;
}

.profile-nav-btns {
    margin: 20px 20px 0px;
    color: var(--purple);
    font-style: italic;
}

@media only screen and (max-width: 320px) {
    .column-container {
        grid-template-columns: 1fr;
    }
}