@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

:root {
    --darkcolorRGB: 63, 63, 63;
    --darkcolor: #3F3F3F;
    --purple: #8246ae;
    --yellow: #F9A426;
    --fancy-font: 'Satisfy', cursive;
    --block-font: 'Bebas Neue', sans-serif;
    --text-font: 'Raleway', sans-serif;
    --box-shadow: 0px 0px 8px 1px rgb(227, 227, 227);
    --card-border: 1px solid rgb(227, 227, 227);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--darkcolor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#root {
    min-height: 100%;
}

h1,
h2 {
    font-family: var(--block-font);
}

h1 {
    font-size: 42px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin: 30px 20px 10px;
}

h3 {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--darkcolor);
}

a:hover {
    opacity: 60%;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px;
    margin: 20px;
    background-color: white;
    color: var(--darkcolor);
    border-radius: 5px;
}

.brandname-tech {
    font-weight: 800;
    font-family: var(--text-font);
    color: var(--purple);
    font-size: 90px;
    margin-top: 50px;
}

.brandname-div {
    font-family: var(--block-font);
    color: var(--darkcolor);
}

.brandname-ersity {
    font-family: var(--block-font);
    color: var(--yellow);
}

.tagline {
    font-family: var(--fancy-font);
    font-size: 26px;
    margin-bottom: 30px;
    margin-bottom: 20px;
}

.btn {
    background-color: var(--purple);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--purple);
    color: white;
    box-shadow: 0px 0.5px 2px 0px rgb(174, 174, 174);
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    opacity: 100%;
}

.btn:active {
    opacity: 100%;
    box-shadow: 1px 3px 2px rgb(174, 174, 174);
    transform: translateY(4px);
}

.page-container {
    padding-top: 20px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*     max-width: 80%; */
}

.column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin: 50px auto 120px;
    gap: 45px 40px;
    text-align: left;
}

/* ---------------------- Form Styling---------------------- */
.form-container {
    display: flex;
    justify-content: center;
}

form {
    padding: 40px;
    margin: 40px 40px 20px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    /* width: 60%; */
    max-width: 500px;
}

input {
    margin: 10px 0 20px;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--darkcolor);
}

button {
    width: 100%;
    margin: 30px 0;
}

label {
    color: var(--darkcolor);
}

::placeholder {
    color: rgb(178, 178, 178);
    font-stretch: expanded;
    font-family: var(--text-font);
}

p {
    color: rgb(178, 178, 178);
    /* font-stretch: expanded; */
    font-family: var(--text-font);
    font-size: smaller;
    margin: 0 0 25px;
}

select {
    margin: 10px 0 20px;
    width: 100%;
    /* padding: 10px 5px; */
    border: 1px solid var(--darkcolor);
}